package ${schema.packageName()};

import java.nio.ByteBuffer;
import java.util.List;
import java.util.Arrays;

import brownshome.netcode.Connection;
import brownshome.netcode.NetworkException;
import brownshome.netcode.NetworkUtils;
import brownshome.netcode.Packet;
import brownshome.netcode.Schema;

public final class ${packet.name()} extends Packet {
	System.Logger LOGGER = System.getLogger(${packet.name()}.class.getModule().toString());

#foreach ( $parameter in $packet.parameters() )
#set( $converter = $parameter.converter() )
	public final $parameter.type() ${parameter.dataName()};
#if( $converter.type() )
	private static final $converter.type() ${parameter.converterName()};
#end
#end

	static {
#foreach ( $parameter in $packet.parameters() )
#set( $converter = $parameter.converter() )
#if( $converter.type() )
		${parameter.converterName()} = ${converter.construct()};
#end
#end
	}

	private final int size;
	
	public ${packet.name()}(#foreach( $parameter in $packet.parameters() )$parameter.type() ${parameter.dataName()}#if( ! $foreach.last ), #{end}#{end}) {
		super(${schema.shortName()}.class, $id,
				List.of(#foreach( $orderedBy in $packet.orderedBy() )${orderedBy}.class#if( ! $foreach.last ), #{end}#{end}));

#foreach ( $parameter in $packet.parameters() )
		this.${parameter.dataName()} = ${parameter.dataName()};
#end

		size = 0#foreach ( $parameter in $packet.parameters() ) + ${parameter.converter().size( $parameter )}#{end};
	}

	protected ${packet.name()}(ByteBuffer buffer) {
		this(#foreach( $parameter in $packet.parameters() )#set( $converter = $parameter.converter() )${converter.read( $parameter, "buffer" )}#if( ! $foreach.last ), #{end}#{end});
	}
	
	@Override
	public void write(ByteBuffer buffer) {
#foreach( $parameter in $packet.parameters() )
#set( $converter = $parameter.converter() )
		${converter.write( $parameter, "buffer" )};
#end
	}

	@Override
	public int size() {
		return size;
	}
	
	@Override
	public void handle(Connection<?, ?> connection, Schema schema) throws NetworkException {
		try {
			${packet.executionExpression()};
		} catch (Throwable t) {
			LOGGER.log(System.Logger.Level.ERROR, "Error processing " + this, t);
			throw new NetworkException(t, connection);
		}
	}

	@Override
	public boolean reliable() {
		return $packet.reliable();
	}

	@Override
	public int priority() {
		return $packet.priority();
	}

	@Override
	public String toString() {
		Object[] items = new Object[] { #foreach( $parameter in $packet.parameters() )${parameter.dataName()}#if( ! $foreach.last ), #{end}#{end} };

		return String.format("${packet.name()}Packet %s", Arrays.deepToString(items));
	}

	@Override
	public int minimumMinorVersion() {
		return $packet.minimumVersion();
	}
}
